<div class="jumbotron">
  <h1>Sails App Demo</h1>
  <h2>Register - Login - Sockets (one to one, one to many)</h2>
  <p>by Keyner</p>
  <pre>[ { email: 'keyner.peru@gmail.com' }, { github: 'github.com/keynertyc' }, { linkedin: 'linkedin.com/in/keynertyc' }, { facebook: 'facebook.com/keynertyc' } ] </pre>
  <p></p>
  <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up</a></p>
</div>
